{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/account/verify_credentials.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 17 Dec 2015 02:43:09 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["c58fc5b322f029481fcc02f084885b49"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["10"], "X-Rate-Limit-Reset":["1450321088"], "X-Response-Time":["45"], "X-Transaction":["ae68acd588791fc2"], "X-Twitter-Response-Tags":["BouncerCompliant","BouncerExempt"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":3198489685,\"id_str\":\"3198489685\",\"name\":\"bob\",\"screen_name\":\"adamkijensen\",\"location\":\"Denver, CO\",\"description\":\"bob rules\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":11,\"friends_count\":0,\"listed_count\":0,\"created_at\":\"Sun May 17 03:31:20 +0000 2015\",\"favourites_count\":5,\"utc_offset\":-28800,\"time_zone\":\"Pacific Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":6,\"lang\":\"en\",\"status\":{\"created_at\":\"Thu Dec 17 02:43:07 +0000 2015\",\"id\":677318075411116032,\"id_str\":\"677318075411116032\",\"text\":\"SHEEEEIIIIT\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\\" rel=\\\"nofollow\\\"\\u003etwitter_clone_dev\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"},\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/599783079217995777\\/T4tmMdpB_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/599783079217995777\\/T4tmMdpB_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/3198489685\\/1431834403\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":true,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false}"},"http_version":null},"recorded_at":"Thu, 17 Dec 2015 02:43:09 GMT"},[...]
{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 17 Dec 2015 02:43:10 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["3dacd10e0f016ddffa322b45a61143ba"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["13"], "X-Rate-Limit-Reset":["1450321088"], "X-Response-Time":["39"], "X-Transaction":["46d5f70374273aa5"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Dec 17 02:43:07 +0000 2015\",\"id\":677318075411116032,\"id_str\":\"677318075411116032\",\"text\":\"SHEEEEIIIIT\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\\" rel=\\\"nofollow\\\"\\u003etwitter_clone_dev\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":3198489685,\"id_str\":\"3198489685\",\"name\":\"bob\",\"screen_name\":\"adamkijensen\",\"location\":\"Denver, CO\",\"description\":\"bob rules\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":11,\"friends_count\":0,\"listed_count\":0,\"created_at\":\"Sun May 17 03:31:20 +0000 2015\",\"favourites_count\":5,\"utc_offset\":-28800,\"time_zone\":\"Pacific Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":6,[...]
