{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/account/verify_credentials.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 17 Dec 2015 01:08:11 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["a2857c95388995c4315fd2130068e1da"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["10"], "X-Rate-Limit-Reset":["1450315275"], "X-Response-Time":["40"], "X-Transaction":["5eb54a447ab827d6"], "X-Twitter-Response-Tags":["BouncerCompliant","BouncerExempt"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":3198489685,\"id_str\":\"3198489685\",\"name\":\"bob\",\"screen_name\":\"adamkijensen\",\"location\":\"Denver, CO\",\"description\":\"bob rules\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":11,\"friends_count\":0,\"listed_count\":0,\"created_at\":\"Sun May 17 03:31:20 +0000 2015\",\"favourites_count\":5,\"utc_offset\":-28800,\"time_zone\":\"Pacific Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":5,\"lang\":\"en\",\"status\":{\"created_at\":\"Thu Dec 17 00:09:49 +0000 2015\",\"id\":677279496605581313,\"id_str\":\"677279496605581313\",\"text\":\"Hi\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"und\"},\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/599783079217995777\\/T4tmMdpB_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/599783079217995777\\/T4tmMdpB_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/3198489685\\/1431834403\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":true,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false}"},"http_version":null},"recorded_at":"Thu, 17 Dec 2015 01:08:11 GMT"},[...]
{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 17 Dec 2015 01:08:12 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["de052b623a2631bdaa4c59a7a583eb95"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["12"], "X-Rate-Limit-Reset":["1450314581"], "X-Response-Time":["29"], "X-Transaction":["92a4cd36f9f9a1f1"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Dec 17 00:09:49 +0000 2015\",\"id\":677279496605581313,\"id_str\":\"677279496605581313\",\"text\":\"Hi\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":3198489685,\"id_str\":\"3198489685\",\"name\":\"bob\",\"screen_name\":\"adamkijensen\",\"location\":\"Denver, CO\",\"description\":\"bob rules\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":11,\"friends_count\":0,\"listed_count\":0,\"created_at\":\"Sun May 17 03:31:20 +0000 2015\",\"favourites_count\":5,\"utc_offset\":-28800,\"time_zone\":\"Pacific Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":5,[...]
