<div class="row">
  <% if current_user %>
    <%= render partial: "layouts/user_summary" %>
    <%= render partial: "layouts/timeline" %>
    <%= render partial: "layouts/friend_recommendations" %>
  <% end %>
</div>
