<div class="row">
  <% if current_user %>
    <%= render partial: "layouts/user_summary" %>
    <%= render partial: "layouts/timeline" %>
  <div class="col-xs-6 col-md-4 center"></div>
  <% end %>
</div>
