<div id="wrap">
  <br><br>
    <div class="container">
      <div id="box">
        <div class="text-center">
          <h1>Welcome To Twitterize</h1>
          <%= link_to "Login with Twitter", login_path, class: "btn btn-primary large"%>
          <div class="col-md-12 text-center pull-middle">
          <div class="form-group">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


