  <div class="row">
    <% if current_user %>
      <%= render partial: "user_summary"%>
    <div class="col-xs-6 col-md-4 center"></div>
    <div class="col-xs-6 col-md-4 center"></div>
    <% end %>
  </div>
